@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Kosugi+Maru&display=swap');

body {
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Kosugi Maru', sans-serif;
}

.bg-video {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

video {
  min-width: 100%; 
  min-height: 100%; 
  width: 100vw;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#content-container {
  z-index: 1;
  width: 98vw;
  height: 98vh;
  position: absolute;
}

#menu-page p {
  font-family: 'Bungee Inline', cursive;
  font-size: 150px;
  margin: 0;
  margin-top: -100px;
}

#display-game {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
}

#message-container {
  position: absolute;
  top: 2%;
  right: 31%;
}

#message {
  color: white;
  font-size: 30px;
}

#speaker-container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: rgb(136, 0, 255);
}

#score-container {
  position: absolute;
  bottom: 31%;
  right: 45%;
  color: rgb(245, 21, 237);
  font-size: xx-large;
}

#speaker-img {
  width: 300px;
}

#game-board {
  margin-right: 8px;
  display: flex;  
  justify-content: center;
  position: relative;
} 

.pause{
  position: absolute;
  width: 80px;
  height: 50px;
  background-color: rgba(14, 22, 112, 0.773);
  position: absolute;
  bottom: 55px;
  left: 45px;
  border-style: none;
  color: rgba(222, 217, 226, 0.679);
  border-radius: 200px;
}

#canvas {
  /* border-left: 8px solid rgba(255, 255, 255, 0.286); */
  background-color: rgba(255, 255, 255, 0.247);
}

#green-pad {
  width: 105px;
  height: 105px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 141px;
  border-radius: 6px;
}

#red-pad {
  width: 105px;
  height: 105px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 270px;
  border-radius: 6px;
}

#yellow-pad {
  width: 105px;
  height: 105px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 400px;
  border-radius: 6px;
}

#blue-pad {
  width: 105px;
  height: 105px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 530px;
  border-radius: 6px;
}

#orange-pad {
  width: 105px;
  height: 105px;
  background-color: transparent;
  position: absolute;
  bottom: 30px;
  left: 660px;
  border-radius: 6px;
}

#speaker-light {
  width: 100px;
  height: 200px;
}

#menu-page{
  z-index: 5;
  position: absolute;
  width: 98vw;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 20px
}

#back-button4 {
  margin-top: 50px;
  min-width: 300px;
  background-color: rgba(173, 13, 212, 0.73);
}

#about-page{
  z-index: 5;
  position: absolute;
  width: 98vw;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-bg {
  font-size: large;
  width: 60vw;
  height: 60vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(155, 33, 248, 0.707);
  border-radius: 20px;
}

#about-page button {
  background-color: rgba(47, 8, 148, 0.73);
 }

.how-bg {
  font-size: large;
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(155, 33, 248, 0.707);
  border-radius: 20px;
}

#how-page {
  z-index: 5;
  position: absolute;
  width: 98vw;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#how-page button {
  background-color: rgba(47, 8, 148, 0.73);
}

#lab-page {
  z-index: 5;
  position: absolute;
  right: 5%;
  height: 98vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

#lab-page button {
  min-width: 300px;
 }

#game-over {
  z-index: 5;
  position: absolute;
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: large;
}

#game-over h1 {
  font-family: 'Bungee Inline', cursive;
}

#game-over span {
  font-family: 'Bungee Inline', cursive;
}

#congrats {
  z-index: 5;
  position: absolute;
  width: 98vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#choose-page {
  z-index: 5;
  position: absolute;
  width: 95vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#menu-buttons {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#menu-buttons button {
 min-width: 300px;
}

.list button {
  min-width: 300px;
 }

.menu {
  padding: 10px 20px;
  border: none;
  color: whitesmoke;
  font-size: large;
  background-color:rgba(147, 61, 246, 0.803);
  border-radius: 10px;
  font-family: 'Kosugi Maru', sans-serif;
}

.menu:hover {
  text-shadow: 0px 0px 25px rgb(214, 255, 51);
  color: #ffffff;
  box-shadow: #f7f3f7 0px 15px 25px;
}

.transparent {
  visibility: hidden;
}